@charset "UTF-8";
/*首页区域*/
#home_page{
    /*height: 690px;*/
    padding-top: 90px;
    background-image: url("../images/blog-bg.jpg");
    background-repeat:no-repeat;
    background-position: center center;
    background-size:cover;
    text-align: center;
	position: relative;
}
#home_page .blog-log {
    padding-bottom: 10px;
}
#home_page .blog-log h1{
    height: 20px;
    text-indent: -999em;
}
#home_page .blog-log img {
    width: 45%;
}
#home_page .abstract{
    display: inline-block;
    width: 40%;
    margin:10px 0;
}
#down_arrow {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -28px;
}
#down_arrow div {
	width: 32px;
	height: 49px;
	margin: 0 auto;
	background: url("../images/down-arrow.png") center 5px no-repeat;
}
/*Article区域*/
#article {
    z-index: 100;
	padding-top: 60px;
    background-color: #f2f2f2;
}
#article .article-title {
    text-align: center;
    margin: 50px 0;

}
#article .article-title h3 {
    border-bottom: 1px solid #888;
    font: 500 22px/40px "Microsof YaHei";
    margin-bottom: 10px;
}
.row .caption {
	padding: 3px 0 0 0;
}
.posts-content {
    padding: 6px 0 0 9px;
    color: #333;
}
.posts-content a {
    color: #333;
}
.thumbnail {
    box-shadow: 1px 1px 5px #bdbdbd;
    overflow: hidden;
    position: relative;
}
.row .thumbnail{
    height: 380px;
}
.posts-content p > a > span {
    color: blue;
}
.row .more-link {
    position: absolute;
    bottom: 8px;
    right: 10px;
}
#article .column{
    margin-bottom: 20px;
}

#article .column .thumbnail {
    transform: translateY(-20px);
    transition: .7s;
}
#article .column .thumbnail:hover{
    transform: translateY(0);
}

/*case show 区域*/
#caseShow {
    background: #2a5382;
    padding-top: 20px;
    position: relative;
    z-index: 100;
}
.case-top {
    margin: 60px 0;
}

#caseShow .caseshow-box {
    width: 100%;
    padding:0;
    margin-right: 30px;
    overflow: hidden;
}
#caseShow .case-box  {
    width: 200%;
}
#caseShow .casemore p {
    display: block;
    font-size: 50px;
    font-weight: 700;
    line-height: 130px;
}
#caseShow .casemore a{
    transition:.5s;
}
#caseShow .casemore a:hover {
    letter-spacing: 4px;
    color: #ddde83
}
#caseShow .case-box .case-box-left,
#caseShow .case-box .case-box-right {
    float: left;
    width:50%;
}
#caseShow .case-box  ul {
    width:100%;
}
#caseShow .case-box  ul li {
    width: 50%;
    float: left;
}
#caseShow .case-box  ul .li_17{
    width: 18.6%
}
#caseShow .case-box  ul .li_32{
    width: 31.3%
}
#caseShow .case-box  ul li a {
    width: 100%;
    display: block;
}
#caseShow .case-box  ul li img {
    width: 100%;
}

.caseshow-box .case-switch{
    position: relative;
    height: 180px;
}
.caseshow-box .case-switch img {
    padding: 40px 0;
    width: 75px;
}
.circleProgress_wrapper{
    position: absolute;
    height: 120px;
    width: 120px; 
    top: 26px;
    left: 50%;
    margin-left: -60px;
}
.wrapper{
    width: 60px;
    height: 120px;
    position: absolute;
    top:0;
    overflow: hidden;
}
.showcircle{
    position: absolute;
    height: 120px;
    width: 120px; 
    top: 26px;
    left: 50%;
    margin-left: -60px;
    border-radius: 50%;
    border: 10px solid #ddde83;
}
    
.right{
    right:0;
}
.left{
    left:0;
}
.showcir{
    width: 120px;
    height: 120px;
    border:10px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;
    -webkit-transform: rotate(45deg);
    border-bottom:10px solid #9198A0;
    border-left:10px solid #9198A0;
    
}
/*相册*/
#album {
    position: relative;
    height: 700px;
}
#album .album {
    position: absolute;
    top: 150px;
    z-index: 100;
    width: 100%;
}
.album > h2,
.album > p {
    color: #e0e0e0;
}
#album .album .album-text{
    margin-top: 10px;
    margin-bottom: 30px;
}
#album .album > div {
    top: 160px;
    position: absolute;
    text-align: center;
}
#album .album > div a:hover {
    color: #f6f6f6;
}
#album .piclove {
    left: 10%;
}
#album .piclife{
    left: 30%;
    margin-left: -20px;
}
#album .picview {
    left: 50%;
    margin-left: -39px;
}
#album .picmovie {
    left: 70%;
    margin-left: -59px;
}
#album .picanimal {
    right: 10%;
}

#album .iconfont {
    font-size: 78px;
}


.bg-wall {
    width: 100%;
    height: 100%;
    /*position: fixed;*/
    top: 50px;
    background: url("../images/piclovebg.jpg") center center no-repeat;
    background-size: 100%;
    z-index: 2;
}

/*留言区域*/
#messages {
    position: relative;
    height: 500px;
}
#messages .message {
    position: absolute;
    top: 80px;
    left: 100px;
    z-index: 100;
}
#messages .message p {
    line-height: 32px;
}
#messages .message input {
    width: 40%;
    height: 40px;
}
#messages .msg-table>div {
    width: 80%;
    padding: 10px 0;
}
#messages textarea {
    width: 100%;
}
#messages .sub-item .emoj,
#messages .sub-item .msg-pic {
    float: left;
    width: 60px;
    cursor: pointer;

}

/*评论*/
#reply-title,
#message_board #comment_box h3,
.comment-form-comment > label {
    display: none;
}
#comment_box{
    margin-top: 20px;
}
#comment_box h3 {
    padding: 0;
    font-weight: 500;
}

.comment-form-comment {
}
#comment {
    width: 100%;
}
#comment_box a {
    color: #333;
}
#comment_box form p {
    margin-bottom: 10px;
}
#comment_box textarea,
#comment_box input {
    border-radius: 5px;
}
.comment-form-author label:first-child .required{
    margin-left: 2rem;
}
.comment-form-url label {
    margin-right: 2.7rem;
}
#submit {

}
.comment {
    position: relative;
    background-color: #fff;
    margin-bottom: 2em;
    padding: 2em;
    padding-bottom: 0.75em;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 15px 100px 0 rgba(0, 0, 75, 0.125);
    transition: box-shadow ease-out .5s;
    transition-delay: .2s;
}
.comment-author img{
    border-radius: 16px;
}
.comment-author .fn {
    font-size: 18px;
    font-weight: 600;
}
#comment_box .comment-meta a ,
#comment_box .reply a 
{
    color: #888;
}
.comment-body p {
    margin: 10px 0;
    font-size: 18px;
}


/*响应式小于768px*/
@media (max-width: 768px) {
    
    body{
        overflow-x: hidden;
    }
    #messages .message {
        position: absolute;
        top: 80px;
        left: 10px;
    }
    #messages .message input {
        width: 60%;
        height: 40px;
    }
    #messages .msg-table>div {
        width: 90%;
        padding: 10px 0;
    }

    #article .column:nth-child(4),
    #article .column:nth-child(5) {
        display: none;
    }
    #search_icon {
        right: 6%;
    }
    .bg-wall{
        background: url("../images/piclovebg.jpg") center center no-repeat;
        background-size: auto 100%;
    }


    .album > h2,
    .album .album-text {
        color: #1B98F8;
    }
    #album .iconfont {
        font-size: 58px;
}
    #album .album{
        top: 40px;
    }
    #album .container {
        padding: 0;
    }
    #album .album > div {
        padding-top: 30px;
        width: 50%;
        height: 160px;
        float: left;
        position: relative;
        left: 0;
        top: 0;
        margin: 0; 
    }
    #album .album .piclove {
        width: 100%;
        height: 200px;
        background: url("../images/piclovebgsm.jpg") center center no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
    }
    #album .album .piclife {
        background: url("../images/piclifebgsm.jpg") center center no-repeat;
        -webkit-background-size: 120%;
        background-size: 120%;
    }
    #album .album .picview {
        background: url("../images/picviewbgsm.jpg") center center no-repeat;
        -webkit-background-size: 120%;
        background-size: 120%;
    }
    #album .album .picmovie {
        background: url("../images/picmoviebgsm.jpg")  no-repeat;
        -webkit-background-size: 120%;
        background-size: 100%;
    }
    #album .album .picanimal {
        background: url("../images/picanimalbgsm.jpg") center center no-repeat;
        -webkit-background-size: 160%;
        background-size: 160%;
    }
    #footer .footer_link ul li{
        width: -moz-calc(100%/4 - 16px);
        width: -webkit-calc(100%/4 - 16px);
        width: calc(100%/4 - 16px);
    }

    #left_box {
        padding: 20px 3px;
    }
}

@media (max-width: 512px) {
    .container {
        padding-right: 0;
        padding-left: 0;
    }
    
    #search_icon {
        right: 20%;
    }

    #home_page {
        padding-top: 70px;
    }

    #home_page .blog-log img {
        width: 60%;
    }
    #article .column {
        margin-bottom: 36px;
    }

    #caseShow .case-box ul li {
        width: 100%;
    }
    #caseShow .case-box ul .li_17{
        width: 37.2%
    }
    #caseShow .case-box ul .li_32{
        width: 62.7%
    }
    #caseShow .casemore p {
        font-size: 32px;
    }
    #footer .footer_link ul li{
        width: -moz-calc(100%/3 - 16px);
        width: -webkit-calc(100%/3 - 16px);
        width: calc(100%/3 - 16px);
    }
    #footer .footer_link ul li:last-child{
        display: none;
    }
    #left_box{
        width: 98%;
        overflow: hidden;
        margin:30 auto;
        
    }
    #left_box.fl{
        float: none;
    }
    .post-item{
        padding-left: 5px;
    }
    .sideb {
        width: 90%;
        margin:0 auto;
    }
    #post .fr{
        float: none;
    }
    .sideb .sbox {
        padding-left: 4px;
        padding-right: 4px;
    }

    .pic-left {
        width: 99%;
    }

    .post-body {
        width: 99%;
    }

    #author, #email, #url {
        width: 96%;
    }

}
/*底部区域*/
