
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501899806237'); /* IE9*/
  src: url('iconfont.eot?t=1501899806237#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501899806237') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501899806237') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501899806237#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianying:before { content: "\e609"; }

.icon-shenghuosuipai:before { content: "\e881"; }

.icon-icon:before { content: "\e602"; }

.icon-wordpress:before { content: "\e6fb"; }

.icon-github:before { content: "\e600"; }

.icon-tupian:before { content: "\e663"; }

.icon-search-copy:before { content: "\e612"; }

.icon-iconfontrichangshenghuo:before { content: "\e667"; }

.icon-aixin:before { content: "\e794"; }

.icon-dianhua:before { content: "\e613"; }

.icon-dianying-:before { content: "\e640"; }

.icon-weizhi:before { content: "\e63e"; }

.icon-dianzhan:before { content: "\e630"; }

.icon-cha:before { content: "\e716"; }

.icon-liulan:before { content: "\e60f"; }

.icon-huojiancopy:before { content: "\e622"; }

.icon-shejiao-facebook:before { content: "\e8bb"; }

.icon-shejiao-twitter:before { content: "\e8bf"; }

.icon-shejiao-xinlangweibo:before { content: "\e8c5"; }

.icon-cha1:before { content: "\e691"; }

.icon-bootstrap:before { content: "\e63b"; }

.icon-huwai:before { content: "\e601"; }

.icon-huwai1:before { content: "\e636"; }

.icon-shejiao-QQ:before { content: "\e60a"; }

.icon-icon3:before { content: "\e508"; }

.icon-pinglun:before { content: "\e60b"; }

.icon-tijiao:before { content: "\e62f"; }

.icon-wechat:before { content: "\e604"; }

.icon-shenghuoquan:before { content: "\e64d"; }

